# exclude data from source control by default
!Data/

Data/*
!Data/contact_matrices/
!Data/vaccination_schedule/
!Data/age_dist.csv
!Data/household_dist.csv

Figures/

Initialized_networks/

Output/
Output_HEP/
Output_local/

_Plot_tester.ipynb

db.json

*.joblib
*.pickle
*.parquet

#Jottacloud conflicted files
*(Conflicted)*
*jottacloud*
*.log

# autoswitch conda https://github.com/bckim92/zsh-autoswitch-conda
*.cenv

# C extensions
*.so

# unknown weird file
*.profraw

# VS Code
.vscode/
._environment.yaml
*.code-workspace

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store
._.DS_Store

# vim
*.swp
*.swo

# Byte-compiled / optimized / DLL files
__pycache__/
db_old.json
